{:paths ["src"]
 :deps {io.github.kotoba-lang/org-iso-10303
        {:git/url "https://github.com/kotoba-lang/org-iso-10303.git"
         :git/sha "351a5c1ecd4e068b6384ddfba8ad72f48f7a8c74"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test" "dev"
                              "--fail-level" "error"]}
           :external-corpus {:extra-paths ["dev"]
                             :main-opts ["-m" "ifc.corpus-runner"]}
           :ids-corpus {:extra-paths ["dev"]
                        :main-opts ["-m" "ifc.ids-corpus-runner"]}
           :external-validator {:extra-paths ["dev"]
                                :main-opts ["-m" "ifc.external-validator-runner"]}}}
